{% block stylesheets %}
    {% include 'MESDAngGridBundle:css:pdf.css.twig' %}
{% endblock stylesheets %}

<table>
    <tr>
        {% for header in headers %}
            <th>{{ header.title }}</th>
        {% endfor %}
    </tr>
    {% for entity in entities %}
        <tr>
            {% for header in headers %}
                <td><p>{{ entity.values[header.column] }}</p></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
