.toggle-control {
    margin: 1px;
    left: 5px;
    position: relative;
    line-height: 2em;
}

.toggle-control:hover {
    background-color: #ffffff;
}

.mini-page {
    float:right;
    margin: 1px;
    right: 5px;
    position: relative;
    line-height: 2em;
}

.widget-bar {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    background-color: #dddddd;
    line-height: 2em;
}

.mini-page {
    text-align:center;
    width: 100%;
    background-color: #eeeeee;
}

.mini-page:hover {
    background-color: #ffffff;
}
.grid-controls {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    background-color: #eeeeee;
}

.grid-filter-select-query-from {
    width:100% !important;
    margin: 1px !important;
}

td.td-align-left {
    text-align:left;
}

td.td-align-right {
    text-align:right;
}

td.td-align-center {
    text-align:center;
}
.grid-controls{
  padding-top:10px;
}
#grid-search{
  margin-left:10px;
}

.clickable {
    cursor: pointer;
}